[user]
    email = hanggang.20@intl.zju.edu.cn
    name = hthuz

[core]
    editor = nvim

[alias]
    st = status
    sh = stash
    ad = add
    cm = commit -m 
    f = fetch
    l = log --graph --all --oneline
    b = branch
    me = merge
    ch = checkout 
    cb = checkout -b
